<!-- <div class="main-div"> -->
@model Abstractions.ViewModels.MainMapVm

<header>
    <div class="header-div">
        <!--Логотип-->
        <img src="/Content/img/logo.svg" alt="Логотип" class="logo">

        <!--Поле поиска с кнопками-->
        <div class="search-div flex-itm">
            @*Форма отправки запроса в метод SearchPath и обновление тега с Id "main"*@
            @using (Ajax.BeginForm("SearchPath", new AjaxOptions { UpdateTargetId = "main" }))
            {
                <div class="input-div">
                    @*Поле для ввода пункта начала построения пути*@
                    <input type="text" id="search-from" class="search-from" placeholder="Откуда" autocomplete="off" name="fromItem" list="allItems" required>
                    @*Кнопка замены значения одного поля на другое*@
                    <button type="button" id="change-btn" class="change-btn">
                        <img src="/Content/img/change.svg" alt="Поменять" class="change-img">
                    </button>
                    @*Поле для ввода пункта окончания построения пути*@
                    <input type="text" id="search-to" class="search-to" placeholder="Куда" autocomplete="off" name="toItem" list="allItems" required>
                </div>

                @*Выпадающий список со всеми объектами*@
                <datalist id="allItems">
                    @foreach (var item in Model.AllItems)
                    {
                        <option value="@item.Number"></option>
                    }
                </datalist>
                <div class="btn-div">
                    @*Кнопка отправки*@
                    <button type="submit" id="search-btn" class="btn search-btn primary-btn">Поиск</button>
                    @*Кнопка сброса введенных данных*@
                    <button type="reset" id="btn-reset" class="btn reset-btn">Сбросить</button>
                </div>
            }
        </div>
    </div>
</header>

@Html.Partial("GetMapPv")

<footer>
    <div class="footer-div">
        <img src="/Content/img/logo.svg" alt="Логотип" class="logo flex-itm">
        <div class="social-links">
            <a href="https://mpei.ru/Pages/default.aspx" target="_blank" class="social-link">Официальный сайт</a>
            <a href="http://profcom.mpei.ru/" target="_blank" class="social-link">Профком студентов</a>
            <a href="https://vk.com/overhear_first_energy" target="_blank" class="social-link">Подслушано МЭИ</a>
        </div>
    </div>
</footer>

@{
    //Todo: добавить в bundle
}
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>