<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="Content/img/icon.svg" type="image/svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MpeiMaps</title> 
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/js")
</body>
</html>
